<div class="container">
  <h2>Connect with Your Match on WaliyyApp 🤝</h2>
  <p>Assalaam Alaykum ${userName},</p>
  <p>
    We’re delighted to take the next step in your journey by sharing the contact
    details of your match. This is an exciting opportunity to get to know each
    other better, keeping in line with the values and teachings of the Sunnah
    and Qur’an.
  </p>
  <p><strong>Your Match’s Contact Details:</strong></p>
  <ul>
    <li><strong>Name:</strong> ${matchName}</li>
    <li><strong>Email:</strong> ${matchEmail}</li>
    <li><strong>Phone:</strong> ${matchPhone}</li>
  </ul>
  <p>
    We encourage you to approach this connection with respect, sincerity, and a
    focus on building a relationship based on mutual understanding and shared
    values.
  </p>
  <p><strong>Tips for Your First Interaction:</strong></p>
  <ul>
    <li>
      <strong>Polite Introduction:</strong> Start with a warm and respectful
      introduction. A simple "Assalaam Alaykum" sets a positive tone.
    </li>
    <li>
      <strong>Clear Intentions:</strong> Be open and honest about your
      intentions, fostering transparency from the beginning.
    </li>
    <li>
      <strong>Boundaries and Privacy:</strong> While connecting, ensure both
      parties feel comfortable and respected by maintaining appropriate
      boundaries.
    </li>
  </ul>
  <p>
    Remember, patience and understanding go a long way in building meaningful
    relationships.
  </p>
  <p>
    Should you have any questions or need further assistance, feel free to reach
    out to us at <a href="mailto:waliyyapp@gmail.com">waliyyapp@gmail.com</a>.
  </p>
  <p>
    <strong
      >Disclaimer:<br />It is important to note that we will never initiate
      contact with users to request personal information, bank card details, or
      subscription renewals over the phone or through any other unsolicited
      means. Users are advised to remain vigilant in safeguarding their
      data.</strong
    >
  </p>
  <p><strong>JazakumuLlahu khairan,</strong><br />Waliyyapp Admin</p>
</div>
