@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.box-shadow-style {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.css-1vyamtt-MuiStepLabel-labelContainer{
  color: #344054 !important;
  font-weight: 500 !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active{
  color: #BA9FFE !important;
}