<div class="container">
  <h2>We’re Sorry, But Your Request Wasn't Accepted This Time 💔</h2>
  <p>Assalaam Alaykum ${userName},</p>
  <p>
    Thank you for expressing interest in connecting with ${userId} on WaliyyApp.
    Unfortunately, your like request was not accepted. We understand this may be
    disappointing, but please know that it’s all part of the process in finding
    a meaningful connection that aligns with your values.
  </p>
  <p>
    Stay patient and open to new possibilities. The right match for you is out
    there, and with persistence, it will come at the right moment.
  </p>
  <p>
    In the meantime, feel free to explore other potential connections on
    WaliyyApp.
  </p>
  <p>
    Should you have any questions or need further assistance, feel free to reach
    out to us at <a href="mailto:waliyyapp@gmail.com">waliyyapp@gmail.com</a>.
  </p>
  <p>
    <strong
      >Disclaimer:<br />It is important to note that we will never initiate
      contact with users to request personal information, bank card details, or
      subscription renewals over the phone or through any other unsolicited
      means. Users are advised to remain vigilant in safeguarding their
      data.</strong
    >
  </p>
  <p><strong>JazakumuLlahu khairan,</strong><br />Waliyyapp Admin</p>
</div>
