<div class="container">
  <p style="font-size: 20px">Assalaam Alaykum ${name},</p>

  <p>
    Welcome to WaliyyApp! We're thrilled to have you on board as you embark on a
    journey of love, faith, and connection.
  </p>

  <p>
    Please familiarize yourself with WaliyyApp rules, follow them diligently,
    and be mindful of Allah.
  </p>

  <p><strong>Getting Started: A Quick Guide</strong></p>
  <ol>
    <li>
      <strong>Verify your account:</strong> Before you jump in, please take a
      moment to verify your account by using this code:
      <strong style="font-size: 25px; color: rgb(124, 0, 155)">${otp}</strong>.
      This ensures the security of your account and helps us maintain a trusted
      community.
    </li>
    <li>
      <strong>Complete your profile:</strong> Personalize your WaliyyApp
      experience by completing your profile. Provide information about yourself.
    </li>
    <li>
      <strong>Customize your dashboard:</strong> Set your preference to increase
      the chance of connecting with someone who truly resonates with you.
      Whether it is searching based on location, profession, or other criteria,
      this will ensure that WaliyyApp is working for you. Take the first step
      towards finding that special someone!
    </li>
    <li>
      <strong>Activate your account:</strong> To activate your account, head to
      our pricing page to purchase a subscription to WaliyyApp and find the
      right one the right way!
    </li>
  </ol>

  <p><strong>Need Help or Have Feedback?</strong></p>
  <p>
    If you have any questions, technical issues, or want to share your thoughts,
    our support team is here to help. Simply reply to this
    <a href="mailto:waliyyapp@gmail.com">email</a>, and we'll assist you
    promptly.
  </p>

  <p>Thank you for choosing WaliyyApp. We're excited to have you with us!</p>

  <p><strong>Disclaimer:</strong></p>
  <p>
    It is important to note that we will never initiate contact with users to
    request personal information, bank card details, or subscription renewals
    over the phone or through any other unsolicited means. Users are advised to
    remain vigilant in safeguarding their data.
  </p>

  <p><strong>JazakumuLlahu khairan,</strong><br />Waliyyapp Admin</p>
</div>
